@section scripts{
    @*<script type="text/javascript">
            $.get('@Url.Action("About","Home")', function (data) {
                $('#conainers').text(data.result);
            },'json')
    </script>*@

    @*<script type="text/javascript">
        $.post('@Url.Action("About","Home")',{val:"post Ajax"}, function (data) {
                $('#conainers').text(data.result);
            },'json')
    </script>*@

@*<script type="text/javascript">
    $('#conainers').load('@Url.Action("About","Home")')
</script>*@
    <script type="text/javascript">
        $.ajax('@Url.Action("About", "Home")', {
            success: function (data) {

            }
        })
    </script>
}


<div id="conainers"></div>

